.inputLabel {
  font-size: 1.6rem;
  display: block;
  margin-bottom: 1rem;
}

.input,
.textarea {
  border-radius: 20px;
  border: 1px solid var(--accent-color);
  font-family: inherit;
  font-size: 1.6rem;
  outline: 0;
  padding: 1rem 3rem;
  width: 100%;
  overflow: hidden;
}

.textarea {
  min-height: 150px;
  resize: vertical;
  width: 100% !important;
}
